@inherits LayoutComponentBase
<RadzenNotification />

<style>
    body {
        background-image: url('https://wallpaperaccess.com/full/108803.jpg');
    }
</style>
<div style="        margin: auto;
        margin-top: 150px;
        width: 450px;
        padding: 30px;
        box-shadow: 5px 10px 18px #888888;
        border-radius: 20px;
        background-color:white;


    ">
    <RadzenImage Path="images/PlannerAppLogo.png"></RadzenImage>
                 @Body
</div>



}