@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager navigation
@inject SignOutSessionStateManager SignOutManager
@inject AuthenticationStateProvider authenticationStateProvider

<AuthorizeView>
    <Authorized>
        Hello, @context.User.FindFirst("FirstName").Value!
        <button class="nav-link btn btn-link" @onclick="BeginLogout">Log out</button>
    </Authorized>
    <NotAuthorized>
        <a href="/auth/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginLogout(MouseEventArgs args)
    {
        var localStateProvider = (LocalAuthenticationStateProvider)authenticationStateProvider;
        await localStateProvider.LogoutAsync();
        navigation.NavigateTo("/auth/login");
    }
}
