@page "/"
@layout AuthLayout

<AuthorizeView>
    <Authorized>
        <p />
        <h1 style="text-align:center">Welcome @context.User.FindFirst("FirstName").Value!</h1>
    </Authorized>
    <NotAuthorized>
        <p />
        <h3 style="text-align:center">Sorry, you have to login</h3>
    </NotAuthorized>
</AuthorizeView>

